- hosts: all
  become: true
  tasks:
    - name: Ensure Docker is installed
      ansible.builtin.package:
        name: docker.io
        state: present

    - name: Ensure Docker service is running
      ansible.builtin.service:
        name: docker
        state: started
        enabled: true

    - name: Pull application image
      community.docker.docker_image:
        name: ttl.sh/myapp:2h
        source: pull

    - name: Run application container
      community.docker.docker_container:
        name: myapp
        image: ttl.sh/myapp:2h
        state: started
        restart_policy: always
        ports:
          - "4444:4444"
